
body {
  font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  font-weight:300;
  color:#676767;
  background-color:#efefef;
}

.navbar {
  background-color:#3F5263;

}
.navbar-brand{
  color:#FFF5DB;
}
.navbar-brand:hover{
  color: #77CCDD;
}
.navbar-right{
  margin-top: 7px;
  margin-right: 15px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #346270;
}
.navbar-nav>li>a{
  color: #FFF5DB;

}
.navbar-nav>li>a:hover{
  background-color: #77CCDD;

}
.wrapper{
  min-height: 100%;

}


.panel-info>.panel-heading{
  background-color: #3F5263;
  color: white;
  border-color:transparent;
}
.sidebar-header{
  font-size: 120%;
  letter-spacing: 2px;
}
.panel-info>.panel-body{
  background-color: #F9F9F9;
}
.panel-body>a,a:hover{
  text-decoration: none;
  color:#3F5263;
}

.badge{
  background-color: #000000;
}
.input-lg {
  font-size: 14px;
}
.jumbotron{
  background-color: #3F5263;
}
h2{
  color: white;
}
.news-p{
  color: #EFEFEF;
}
.panel{
  border: none;
}
.margin-8{
  margin-top: 8%;
}
footer{
  color: #666;
  background: #3F5263;
  padding: 17px 0 18px 0;
  border-top: 1px solid #3F5263;
}
.autor{
  color: white;
}
.navbar-nav>li.active{
  background-color: #77CCDD;
}
.thumbnail>img{
  width: 300px;
  height: 180px;
}
.thumbnail{
  float: right;
}
.section-title {
    border-top: 1px solid #e1e6e9;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-transform: uppercase;
    font-weight: 600;
}
h1 {
    font-size: 2.6em;
  }
.section-title:before {
  content: '';
  width: 180px;
  height: 3px;
  background: url(../images/t-left.png) no-repeat center;
  margin-bottom: 10px;
  margin-right: 15px;
  display: inline-block;
}
.section-title:after {
  content: '';
  width: 180px;
  height: 3px;
  background: url(../images/t-right.png) no-repeat center;
  margin-bottom: 10px;
  margin-left: 15px;
  display: inline-block;
}
.product-item {
    margin-bottom: 30px;
}
.product-item .item-thumb {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: 95;
}
.item-small img, .item-large img, .product-item .item-thumb img {
  width: 100%;
}
  .product-item .item-thumb .note {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  color: #444444;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  z-index: 96;
}
.product-item .item-thumb .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #26b864;
  padding: 20px;
  z-index: 97;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  opacity: 0;
  filter: alpha(opacity=0);
}
.product-item .item-thumb .overlay .overlay-inner {
  width: 100%;
  height: 100%;
  text-align: center;
}
.product-item .item-thumb .overlay .overlay-inner a.view-detail {
  position: relative;
  margin-top: 45%;
  display: block;
  background: url(../images/active-state.png) no-repeat;
  background-position: center 20px;
  padding-bottom: 30px;
  color: #26b864;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.product-item .item-thumb:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.item-thumb>img{
  height: 250px;
  border: solid 5px #dad7d5;
  border-radius: 5px;
}
.margin-9{
  margin-top: 35%;
}
.panel-b{
  background-color: #EFEFEF;
}
.media-left>a>img{
  width: 400px;
  height: 200px;
  border: 1px solid black;
}
.mybottom{
  margin-bottom: 10px;
}
.vert-align{
  margin-top: 5px;
}  
.navbar-admin{
  height: 100px;
  background-color: black;
}
.navbar-admin a{
 color: #f0ad4e;
 text-decoration: none;
 margin-left: 360px; 
  
}
.navbar-admin h1{
  
  font-size: 300%;  
  
}
.panel-admin a{
color: #5A7391;
font-size:15px; 
}
.home{
  margin-right: 10px;
}
